<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <h1>The Swearbox <small>When you just can't think of a suitable insult for someone</small></h1>
    </div>
  </div>
</div>

<div class="container">
  <div id="result" class="well">

  </div>
  <div class="text-center">
    <p>Hit the button or refresh the page to get your new phrase of the day.</p>
    <a id="previous" type="button" class="btn btn-default">Prev</a>
    <a id="swear" type="button" class="btn btn-lg btn-primary">Swear</a>
    <br>
    <p class="text-muted"><small>You can utilise Swearbox for your own purposes with the <a href="/api">api</a></small></p>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>
